<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>pH</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='ph.css')}}"
        />
    </head>
    <body>
        <div class="container">
            <h1 id="title">PH</h1>
            <h2 id = "welcome_link"><a href="{{ url_for('welcome')}}">welcome</a></h2>
            <h2 id = "stirring_link"><a href="{{ url_for('stirring')}}">stirring</a></h2>
            <h2 id = "temperature_link"><a href="{{ url_for('temperature')}}">temperature</a></h2>
            <h2 id = "ph_link"><a href="{{ url_for('ph')}}">ph</a></h2>
        </div>

        <div class = "form1">
        <form action="#" method="post">
            <p>PH Level:</p>
            <p><input type="text" name="ph_level" placeholder="Enter PH level"/></p>
            <p><input type="submit" value="submit"></h2>
        </form>
    </div>
    </body>
</html>
