<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Stirring</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='stirring.css')}}"
        />
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <style>
            a {
                text-decoration: none;
                color: #fff;
            }
            a:hover {
                color: #333;
            }
        </style>
        <div class="container">
            <h1 id="title">STIRRING</h1>
            <h2 id = "welcome_link"><a href="{{ url_for('welcome')}}">welcome</a></h2>
            <h2 id = "stirring_link"><a href="{{ url_for('stirring')}}">stirring</a></h2>
            <h2 id = "temperature_link"><a href="{{ url_for('temperature')}}">temperature</a></h2>
            <h2 id = "ph_link"><a href="{{ url_for('ph')}}">ph</a></h2>
        </div>
        

        <div class = "form1">
        <form action="#" method="post">
            <p>Stirring Speed:</p>
            <p><input type="text" name="stirring_speed" placeholder="Enter Stirring Speed"/></p>
            <p><input type="submit" value="submit" name="EditParameter"></h2>
        </form>
        <form method="POST" action="#">
            <!--<p>Time Frame:
            <select name="time_frame">
                <option>last minute</option>
                <option>last hour</option>
                <option>last day</option>
            </select> <input type="submit" value="change!" name="ChangeTimeFrame"/></p>
        </form>-->
        </div>

    <div id="messages">
        {% with messages = get_flashed_messages() %}
        {%if messages%}
            {% for m in messages %}
                <p>alert&nbsp;:&nbsp;{{m}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div id="graph" style="width: 80%; height: 80%"></div>
    
    <script type="text/javascript">
        var graphs = {{ graphJSON | safe }};
        Plotly.newPlot('graph',graphs.data,graphs.layout);        
    </script>

    </body>
</html>
