<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <div class="container">
            <h1 id="title">WELCOME TO OUR BIOREACTOR CONTROL PAGE!</h1>
        </div>
        <div class="stirring">
            <p id="description">explanation of the stirring page - capabilities and what the graph shows</p>
            <h2 class = "stirring_button"><a href="{{ url_for('stirring')}}">stirring</a></h2>
        </div>
        <div class="temperature">
            <p id="description">explanation of the temperature page - capabilities and what the graph shows</p>
            <h2 class = "temperature_button"><a href="{{ url_for('temperature')}}">temperature</a></h2>
        </div>
        <div class="ph">
            <p id="description">explanation of the ph page - capabilities and what the graph shows</p>
            <h2 class = "ph_button"><a href="{{ url_for('ph')}}">ph</a></h2>
        </div>
    </body>
</html>
