<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <style>
            a {
                text-decoration: none;
                color: #fff;
            }
            a:hover {
                color: #333;
            }
            #description {
                margin-top: 50px;
                margin-left: 60px;
            }
        </style>
        <div class="container">
            <h1 id="title">WELCOME TO OUR BIOREACTOR CONTROL PAGE!</h1>
        </div>
        <div class="stirring">
            <p id="description">
                On the Stirring page, you can set the speed of the mixer. The accompanying line graph shows the average stirring speed measured during the last minute in 10-second blocks. This helps ensure your materials are being mixed consistently.
            </p>
            <h2 class="stirring_button">
                <a href="{{ url_for('stirring')}}">stirring</a>
            </h2>
        </div>
        <div class="temperature">
            <p id="description">
                Use this page to control the system's temperature. You can enter a new temperature setting, which is then sent to the equipment. The graph tracks the average temperature trend over the last 60 seconds, helping you keep the environment stable.
            </p>
            <h2 class="temperature_button">
                <a href="{{ url_for('temperature')}}">temperature</a>
            </h2>
        </div>
        <div class="ph">
            <p id="description">
                This page lets you set the target acidity/alkalinity (PH) for your system. It displays a line graph showing the average PH level over the last minute. This is the best place to monitor and control your solution's quality.
            </p>
            <h2 class="ph_button"><a href="{{ url_for('ph')}}">ph</a></h2>
        </div>
    </body>
</html>
